.travels__title {
  max-width: 720px;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
}

@media screen and (max-width: 695px) {
  .travels__title {
    font-size: 60px;
  }
}
@media screen and (max-width: 440px) {
  .travels__title {
    font-size: 45px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 335px) {
  .travels__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 1.1;
  }
}
