.travels__title {
  max-width: 720px;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
}

@media screen and (max-width: 710px) {
  .travels__title {
    max-width: 430px;
    font-size: 60px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 500px) {
  .travels__title {
    max-width: 288px;
    margin-bottom: 16px;
    font-size: 40px;
  }
}

