.trains__link-title {
  max-width: 560px;
  margin: 0 0 32px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
}

@media screen and (max-width: 540px) {
  .trains__link-title {
    max-width: 460px;
    font-size: 62px;
  }
}

@media screen and (max-width: 480px) {
  .trains__link-title {
    max-width: 300px;
    margin: 0 0 22px;
    font-size: 42px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 320px) {
  .trains__link-title {
    margin-bottom: 16px;
    font-size: 32px;
  }
}
