.trains__link {
  padding: 245px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.trains__link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: .3;
  transition: opacity .3s ease-in-out;
  z-index: -1;
}

.trains__link:hover::after {
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .trains__link {
    padding: 195px 0;
  }
}

@media screen and (max-width: 768px) {
  .trains__link {
    padding: 115px 0;
  }
}

@media screen and (max-width: 540px) {
  .trains__link {
    padding: 40px 0;
  }
}

@media screen and (max-width: 320px) {
  .trains__link {
    padding: 33px 0;
  }
}
